.header-image {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.wrap { 
    width: 100%;
}

footer {
    font-size: small;
    color: #75726F;
}

blockquote {
    max-width:390px;
    color: #5c4c40;
    text-align: center; 
    border-left: 3px solid #897860; 
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}