.footer-image {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/*Small footer text class*/
.footer-text {
    font-size: small;
    text-align:left;
}

.is-petition {
    background-color: #fdb81e;
    color: #212121;
}